h1, h2, h3, h4, h5, h6, button {
  font-family: Kanit;
  font-weight: 400;
}

._cs-pt {
  user-select: none !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}