@import 'node_modules/biomatic/dist/biomatic.full.min.css';
@import 'node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import 'node_modules/bootstrap/scss/utilities/_embed.scss';
// เพิ่ม stylesheet ของ Vue Thailand Address เข้าไป
@import 'assets/styles/variables';
@import 'assets/styles/default';

/* Begin your default styles here */

._fdrt-rrv {
  flex-direction: row-reverse !important;
}

._ratio {
  background: #333;
  width: 50%;
  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}